<div layout="column" layout-align="top stretch">
    <toolbar-login></toolbar-login>
</div>

<form name="vm.PasswordRecoveryForm" ng-submit="vm.recoverAccount()" novalidate layout="row"
    layout-align="center center" class="flex-grow password-recovery-form">

    <div class="password-recovery-wrapper">

        <md-input-container class="md-block">
            <label md-colors="{color: 'primary'}">{{vm.translations['email']}}</label>
            <input type="email" name="email" ng-model="vm.userdata.email" required md-email=""
                md-colors="{backgroundColor: 'background-hue-1', color: 'primary'}">

            <p class="md-errors-spacer" ng-show="vm.PasswordRecoveryForm.email.$touched && vm.PasswordRecoveryForm.email.$error.required"
                    md-colors="{color: 'accent'}">
                    {{vm.translations['login-input-required-email']}}
            </p>

        </md-input-container>

        <div layout="column" layout-align="center center" class="recovery-btn-wrapper">
            <md-button type="button" ng-click="vm.recoverAccount()" class="md-accent md-raised global-btn-size-big-2 no-margin"
                md-colors="{ color: 'primary-hue-2'}">
                {{vm.translations['recovery-recover-account']}}
            </md-button>
        </div>

    </div><!-- /.password-recovery-wrapper -->

</form><!-- /.password-recovery-form -->
