<preloader md-theme="{{defaultTheme}}"
        md-theme-watch
        class="md-{{defaultTheme}}-theme preloader-wrapper"></preloader>

<section md-theme="{{defaultTheme}}"
        md-theme-watch
        ui-view="content"
        md-colors="{backgroundColor: 'background', color: 'primary'}"
        class="md-{{defaultTheme}}-theme"></section>