<div layout="column" layout-align="top stretch">
    <toolbar-login class="logo-center no-bar"></toolbar-login>
</div>

<form name="vm.LoginForm" layout="row" layout-align="center" class="flex-grow login-form"
    novalidate
    ng-submit="vm.initiateLogin()"
    ng-if="vm.showLogin">

    <div class="login-wrapper" layout="column" layout-align="center">
        <!-- <h1 class="md-title">{{vm.translations['login-title']}}</h1> -->

        <md-input-container class="md-block">
            <label md-colors="{color: 'primary'}">{{vm.translations['email']}}</label>
            <input type="email" name="email" ng-model="vm.userData.member_email" on-focus-input-remove-header required md-email=""
            md-colors="{backgroundColor: 'background-hue-1', color: 'primary'}">

            <p class="md-errors-spacer" ng-show="vm.LoginForm.email.$touched && vm.LoginForm.email.$error.required"
                 md-colors="{color: 'accent'}">
                {{vm.translations['login-input-required-email']}}
            </p>
        </md-input-container>

        <md-input-container class="md-block">
            <label md-colors="{color: 'primary'}">{{vm.translations['password']}}</label>
            <input type="password" name="password" ng-model="vm.userData.member_password" on-focus-input-remove-header required minlength="8" maxlength="64000"
            md-colors="{backgroundColor: 'background-hue-1', color: 'primary'}">

            <p class="md-errors-spacer" ng-show="vm.LoginForm.password.$touched && vm.LoginForm.password.$error.required"
                md-colors="{color: 'accent'}">
                {{vm.translations['login-input-required-password']}}
            </p>
        </md-input-container>

        <div layout="row" layout-align="center center" class="login-btn-wrapper">

            <md-button type="button" ng-click="vm.initiateLogin()" class="md-accent md-raised global-btn-size-small-2 no-margin-left"
            md-colors="{ color: 'primary-hue-2'}">
                {{vm.translations['login']}}
            </md-button>

            <md-button ui-sref="app.register" class="md-accent global-btn-size-small-2 no-margin-right"
            md-colors="{borderColor: 'accent', color: 'accent'}">
                <span>{{vm.translations['register']}}</span>
            </md-button>

        </div>

        <div layout="column" layout-align="center center" class="login-btn-wrapper login-btn">
            <md-button ui-sref="app.passwordRecovery" class="md-primary md-cornered global-btn-size-big-1 no-margin"
            md-colors="{borderColor: 'primary-hue-1', color: 'accent'}">
                {{vm.translations['forgot-password']}}
            </md-button>
        </div>

    </div><!-- /.login-wrapper -->

</form><!--/.login-form -->

<form name="vm.RecoveryForm" layout="row" layout-align="center stretch" class="flex-grow recover-form"
    novalidate ng-submit="vm.recoverAccount()" ng-if="!vm.showLogin">

    <div class="login-wrapper" layout="column" layout-align="center">

        <md-input-container class="md-block">
            <label md-colors="{color: 'primary'}">{{vm.translations['enter-recovery-code']}}</label>
            <input type="text" name="recoverAccount" ng-model="vm.code" required
                on-focus-input-remove-header
                md-colors="{backgroundColor: 'background-hue-1', color: 'primary'}">

            <p class="md-errors-spacer"
                ng-show="vm.RecoveryForm.recoverAccount.$touched && vm.RecoveryForm.recoverAccount.$error.required"
                md-colors="{color: 'accent'}">
                {{vm.translations['send-error-address-required']}}
            </p>
        </md-input-container>

        <div layout="column" layout-align="center center">

            <md-button type="submit" class="md-accent md-raised global-btn-size-big-2"
                md-colors="{color: 'primary-hue-2'}">
                {{vm.translations['recover-account']}}
            </md-button>

            <md-button ng-click="vm.showLoginScreen()"
                class="md-accent global-btn-size-small-2 no-margin-right mt-20"
                md-colors="{borderColor: 'accent', color: 'accent'}">
                {{vm.translations['cancel']}}
            </md-button>

        </div>

    </div>
</form>
